{% extends "ZephyrAdminCoreBundle:Default:index.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/zephyradmincore/css/login.css') }}" type="text/css" media="screen" />
{{ parent() }}
{% endblock %}
{% block fos_user_content %}
{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
 <div id="content_login">
	{% if error %}
		<div>{{ error|trans }}</div>
	{% endif %}
	
	<form action="{{ path("fos_user_security_check") }}" method="post">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
	<div>
		<label for="username">{{ 'security.login.username'|trans }}</label>
		<input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
	</div>
	<div >
		<label for="password" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ 'security.login.password'|trans }}</label>
		<input type="password" id="password" name="_password" required="required" />
	</div>
	<div>
		<input type="checkbox" id="remember_me" name="_remember_me" value="on" />
		<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>
	</div>
		<input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
	</form>
	<br>
	{% for lang in language %}
			<a href="{{ path(app.request.attributes.get('_route'),app.request.attributes.get('_route_params')|merge({"_locale": lang }) ) }}"><span class="flag-icon flag-icon-{% if lang == "en" %}{{'us'}}{% else %}{{lang}}{% endif %}"></span></a>
    {% endfor %} 
	<br><a href="{{ path('fos_user_resetting_request') }}">{{ 'Forgot password'|trans }} ?</a>
	</div>
	
	{% else %}
		{{ render(controller('ZephyrAdminCoreBundle:Default:index')) }}
	{% endif %}
{% endblock fos_user_content %}

{% block body %}{% endblock %}
